<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu>

<menu id="new menu 1" label="System">
	<item label="Reboot">
		<action name="Execute">
			<command>loginctl reboot</command>
		</action>
	</item>
	<item label="Shutdown">
		<action name="Execute">
			<command>loginctl poweroff</command>
		</action>
	</item>
</menu>

<menu id="root-menu" label="Openbox 3">
	<item label="Brave">
		<action name="Execute">
			<command>flatpak run com.brave.Browser</command>
		</action>
	</item>
	<item label="Thunar">
		<action name="Execute">
			<command>thunar</command>
		</action>
	</item>
	<item label="Alacritty">
		<action name="Execute">
			<command>alacritty</command>
		</action>
	</item>
	<separator/>
	<menu id="new menu 1"/>
	<separator/>
	<item label="Restart">
		<action name="Restart"/>
	</item>
	<item label="Exit">
		<action name="Exit">
			<prompt>yes</prompt>
		</action>
	</item>
</menu>

</openbox_menu>